name: Validate 'setup-xcode'
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  versions-macOS-15:
    name: macOS 15
    runs-on: macos-15
    strategy:
      matrix:
        xcode-version: ['16.0', '16.4', '26.0.1', '26.2', latest, latest-stable]
      fail-fast: false
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - uses: ./
      name: Setup Xcode
      id: setup-xcode
      with:
        xcode-version: ${{ matrix.xcode-version }}
    - name: Print output variables
      run: |
        echo "Version: ${{ steps.setup-xcode.outputs.version }}"
        echo "Path: ${{ steps.setup-xcode.outputs.path }}"

  versions-macOS-14:
    name: macOS 14
    runs-on: macos-14
    strategy:
      matrix:
        # https://github.com/actions/runner-images/blob/main/images/macos/macos-14-Readme.md#xcode
        xcode-version: ['16.2', '15.2', '15.3', latest, latest-stable]
      fail-fast: false
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ./
        name: Setup Xcode
        id: setup-xcode
        with:
          xcode-version: ${{ matrix.xcode-version }}
      - name: Print output variables
        run: |
          echo "Version: ${{ steps.setup-xcode.outputs.version }}"
          echo "Path: ${{ steps.setup-xcode.outputs.path }}"
