name: Build task
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  Build:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set Node.JS
      uses: actions/setup-node@v6
      with:
        node-version: 20.x

    - name: npm install
      run: npm install

    - name: Build
      run: npm run build

    - name: Run tests
      run: npm run test

    - name: Run Prettier
      run: npm run format-check

    - name: Lint
      run: npm run lint
